* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(resources/imgs/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 18px;
}

svg {
  position: absolute;
  bottom: 50px;
  left: 40%;
  height: 300px;
  width: 300px;
  display: inline-block;
}

#arms_up {
  display: none;
}

#eat {
  display: none;
}

.jokey_lips {
  display: none;
}

#lips {
  display: none;
}

.jokey_lips path:nth-child(1),
.jokey_lips path:nth-child(2),
.jokey_lips path:nth-child(3) {
  transform: scale(1.5) translate(-94px, -101px);
}

.talking_lips1 path:nth-child(1),
.talking_lips1 path:nth-child(2),
.talking_lips1 path:nth-child(3) {
  transform: scale(1.5) translate(-94px, -101px);
}

#before_starting_game {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: relative;
}

#before_starting_game>button {
  position: absolute;
  top: 55%;
  left: 43%;
  padding: 30px;
  font-size: 2em;
}

#game_end {
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: relative;
}

#game_end .options {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 40%;
}

#game_end .options h6 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

#game_end .options button {
  margin: 0px auto;
  padding: 5px 15px;
  display: inherit;
}

.getDetails {
  display: none;
  width: 50%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  padding-top: 20%;
}

.getDetails input {
  margin-top: 10px;
  position: absolute;
  padding: 5px 10px;
  font-size: 1.5em;
  height: 50px;
  width: 100%;
}

.getDetails>button {
  position: absolute;
  margin-top: 45px;
  padding: 10px 15px;
  font-size: 1.5em;
}

#game,
svg #crosses,
svg #talking,
svg #jokey,
svg #sad,
svg #happy,
svg #angry {
  display: none;
}

#game button {
  padding: 5px 10px;
}

#gameBoard {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 45%;
  display: flex;
}

#gameBoard div {
  padding: 15px;
  font-size: 1.2em;
}

#food_list {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  bottom: 30px;
  right: 6%;
}

#food_list .food_imgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#food_list .img {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 5px;
  margin: 2px;
}

#food_list .img:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#food_list .img span,
#food_list .img img {
  margin: 0px auto;
  text-align: center;
  display: block;
}

#food_list img.pet_food {
  /* margin: 10px; */
  width: 50px;
  height: 60px;
  cursor: pointer;
}

#pet #food {
  position: absolute;
  top: 60%;
  left: 49%;
  width: 60px;
  height: 60px;
}

#food img {
  display: none;
  width: 100%;
  height: 100%;
}

#game_actions {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  top: 80px;
  left: 8%;
}

#game_actions button {
  margin: 2px;
}

#getcomplimentBtns {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  bottom: 20%;
  left: 6%;
}

#compliments {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  top: 50%;
  right: 12%;
}

#petEmotions {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  bottom: 20%;
  left: 6%;
}